.gameBoard{
  width: 500px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.gameBoard div{
  width: 125px;
  height: 2px;
}

.redNote{

  background-color: red;
}
.yellowNote{
  background-color: yellow;
}
.blueNote{

}
.greenNote{

}
